<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do app</title>
</head>
<body>
    <ul>
        {% for d in data %}
        <li>{{d.description}}</li>
        {% endfor %}
    </ul>

    <form>
        <!--<input type="text" name="id" id="id">-->
        <input type="text" name="description" id="description">
        <input type="submit" value="submit">
    </form>
    {% for d in form %}
    <p>{{d}}</p>
    {% endfor %}
    <p>test</p>

</body>
</html>